/* -------------
costume css
-------------- */


/*----------------
  slider height
--------------- */
.img-height{
  height: 500px;
}
.img-height img{
  height: 500px;

}
.opacity-color {
  background: rgb(0 0 0);
}
.text-color{
  color: #ffffffb5
}
.carousel-caption {
  bottom: 5.25rem;
  left: 25%;
}