/* -------------
costume css
-------------- */


/*----------------
  slider height
--------------- */
.img-height{
  height: 500px;
}
.img-height img{
  height: 500px;
}
.text-color{
  color: #ffffffb5
}
.carousel-caption {
  bottom: 5.25rem;
  left: 25%;
}
.title-width{
  width: 400px !important; 

}
.title-width-p{
  width: 570px;
  color: #777777;
}

.single-course-info h2{
  color: #4A4A4A;
}
.single-course-info p{
  font-size: 15px;
}
.single-learning-info{
  background-color: #F4FAFD;
}
.card-body p{
  font-size: 14px;
}
.freedback-img-icon img{
  width: 50px;
}